body,html{
    margin: 0;
    padding: 0;
}

.moviedetails{
    padding-top: 58rem;
}

.moviedetails img{
    height: 25rem;
}

.moviedetails h1{
    font-size: 4rem;
}

.moviedetails p{
    font-size: 1.5rem;
}

