body,html{
    margin: 0;
    padding: 0;
}

/* Optional: Additional styles for hover effects */
.moviedetails:hover {
    background-color: #313E3B; /* Match hover color to the original background */
    border-color: #B0B0B0 /* Bright border on hover */
}


.moviedetails img{
    height: 45%;
}

.moviedetails h1{
    font-size: 5rem;
    padding-bottom: 0.5rem;
}

.moviedetails p{
    font-size: 1.5rem;
}