*{
  margin: 0;
  padding: 0;
  width: 100%;
}

body.loading {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #245e61; /* Dark teal background color */
}

::-webkit-scrollbar-thumb {
  background: #b3fff2; /* Base color */
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #89e6d8; /* Darker version on hover */
}

